<h1>This is h1</h1>
<p>{{ name }}</p>
<button (click)="increaseCount($event)">Click to count</button>
<button (click)="toggleImportant()">
  Toggle important {{ important }}
</button>
<p>Counter is {{ count }}</p>
<input type="text" [(ngModel)]="name" />
<input type="text" [(ngModel)]="name" />
<p [class.bred]="!isRed" [style.color]="isRed ? 'green' : 'blue'">
  Text from input is {{ name }}
</p>
<button (click)="doRed()">do background red</button>
<child-comp class="child-comp" [userName]="name" [userAge]="age"
  >Hello from child-comp {{ name }}</child-comp
>
